@tailwind base;
@tailwind components;
@tailwind utilities;

/* We are using Tailwind CSS since it will give us a lot of styles built in that we can use by just adding them as CSS classes.
  More specific styling or Tailwing overrides can be done here or in other CSS files.
*/

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
