.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #92DA92;
}

.logo {
    width: 100px;
    height: auto;
}

.profile {
    width: 100px;
    height: auto;
    margin-left: 5px; 

}

.search-bar {
    width: 300px;
    padding: 5px;
}

.button {
    display: flex;
    align-items: center;
  }
  
.signUp-button {
    padding: 5px;
    background-color: #FFA07A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.signIn-button {
    padding: 5px;
    background-color: #FFA07A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button {
    padding: 5px;
    background-color: #FFA07A;
    border: none;
    cursor: pointer;
    margin-right: 5px; 
    border-radius: 5px;
  }