.profile-posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
}
.post-card {
    background-color: rgb(212, 241, 210);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #4ea758;
  }
  
  .post-description {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .post-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  
  .post-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .post-actions img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  